@font-face {
    font-family: abster;
    src: url(font/) format('woff');
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   
position: relative;
width: 375px;
height: 812px;

background: #FFFFFF;
}

